<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit <%=aardvark.name%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/aardvarks/<%=aardvark._id%>" method="POST">
            <label>Name: <input type="text" name="body[name]" value="<%=aardvark.name%>"></label>
            <label>Color: <input type="text" name="body[favorite_color]" value="<%=aardvark.favorite_color%>"></label>
            <button>Submit</button>
        </form>
    </body>
</html>