<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show Page For <%=aardvark.name%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%=aardvark.name%>'s Show Page</h1>
        <p><%=aardvark.name%>'s favorite color is <%=aardvark.favorite_color%></p>
        <p><a href="/aardvarks">Back to the aardvarks!</a></p>
    </body>
</html>